@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.active {
  @apply text-sky-600;
}

@tailwind utilities;


